.search-box-wrapper {
 -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #521d1f;
    background-color: rgba(255, 255, 255, 0.8);
  height: 26px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;

}

#moblet-search-bar {
  .hidden {
    display: none;
  }
  .search-options-dropdown {
    margin-right: 3px;
    margin-top: 4px;
    margin-left: 3px;

    line-height: 18px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;

    ul {
      font-size: 1.5em;
    }

    b.caret {
      display: none;
    }

    padding: 0 5px;
  }
  
  .submit-search-text {
      display: none;
  }
    
}

.navbar .search-options-dropdown  {
  margin-right: 2px;
  margin-top: 3px;
  padding: 0;
  font-size: .8em;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;

  ul {
    font-size: 1.25em;
  }
}

.search-box-container {
  float:left;
  width: 30em;
  min-height: 1em;
  padding-top: 5px; 
}

#tablet-search-bar {
  margin-left:3em;
}

.search-options-select {

  height: 1.24m;
  width: 7em; 
}

.submit-search-text {
  color: white;
  text-shadow: none;
}

.btn-group > .search-box-dropdown {
  color: white;
  padding: 1px 5px 1px 5px;
}
input[type="text"].search-q {
  margin-top: 1px;
  padding: 3px;
  border: 0;
}

.input-append .search-submit-label {
  height: 26px;
  padding: 0px;
  border: 1px solid #521D1F;

  button {
    margin: 0;
  }
}
